<div class="text-center">
  <h1>Welcome to JankoBank</h1>
</div>

<div class="row justify-content-center">

  <div class="row p-5">
    <div class="card" style="width: 18rem;">
      <img src="/assets/savings" class="card-img-top" alt="Savings Account">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="row p-5">
    <div class="card" style="width: 18rem;">
      <img src="/assets/current" class="card-img-top" alt="Current Account">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

</div>
